.filter-container {
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center;
  h3 {
    text-align: start;
  }
  .section-container {
    display: flex;
    flex-direction: column;  
    .separator {
      border: 1px solid black;
      border-block-end: none;
    }

  }

 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;  
  }
  .grid-item {  
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

button, select {
    text-transform: none;
}

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.active {
  background-color: #4CAF50;
  color: #ffffff;
}

  .button {
      background-color: rgba(150, 226, 18, 0.2);
      padding:10px;   
      border: 1px solid rgba(150, 226, 18, 0.2);
      color:black;
      border-radius: 5px;
      width: 100%;

      &:hover, &:active, &:focus {
        background-color:rgba(150, 226, 18, 0.5);
        border: 1px solid rgba(150, 226, 18, 0.5);
        outline: none;
      }
  }