<div class="filter-container">
    <h3>Filters</h3>
    <section class="section-container">
        <span>Launch Year</span>
        <span class="separator"></span>
        <div class="grid-container">
            <div class="grid-item" *ngFor="let year of launchYears">
                <button id="aaa" class="button" type="button" [value]="year" (click)="filterAsPerLaunchYear($event)">{{year}}</button>
            </div>
        </div>
    </section>
    <section class="section-container">
        <span>Successful Launch</span>
        <span class="separator"></span>
        <div class="grid-container">
            <div class="grid-item">
                <button id="bb" class="button" type="button" (click)="filterAsPerSuccessLaunch(true)">True</button>
            </div>
            <div class="grid-item">
                <button id="bb" class="button" type="button" (click)="filterAsPerSuccessLaunch(false)">False</button>
            </div>
        </div>
    </section>
    <section class="section-container">
        <span>Successful Landing</span>
        <span class="separator"></span>
        <div class="grid-container">
            <div class="grid-item">
                <button id="cc" class="button" type="button" (click)="filterAsPerLandLaunch(true)">True</button>
            </div>
            <div class="grid-item">
                <button id="cc" class="button" type="button" (click)="filterAsPerLandLaunch(false)">False</button>
            </div>
        </div>
    </section>
</div>